.picture{
    width: 400px;
}

.author {
    font-style: italic;
    font-size: 14px;
    text-align: right;
}

.contentArticle {
    min-height: calc(100vh - 425px);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bannerArticle{
    width: 500px;
    max-width: 650px;
    height: auto;
}

.content .articleTitle{
    font-size: 2em;
    color: #86abff;
}

@media screen and (max-width: 550px) {
    .bannerArticle {
        width: 300px;
    }

    .contentArticle .content{
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .contentArticle .content{
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1350px) {
    .contentArticle .content{
        margin-left: 0%;
        margin-right: 0%;
    }
}