.faqTitle{
    font-weight: bold;
    color: #3356a6;
    font-size: 20px;
}

.MuiAccordionSummary-root.Mui-expanded {
    background: #3356A6;
}


.MuiAccordionSummary-root.Mui-expanded p{
    color: #f5f5f5;
}

.practicalDoc{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.practicalDoc svg{
    width: auto;
    height: 50px;
    color: #E80000;
}

.downloadDoc{
    text-align: center;
}

.downloadDoc p{
    font-weight: bold;
}

.faqGridCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.faqCard {
    position: relative;
    min-width: 320px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.logoMemo{
    width: 90px;
}

.faqCard .faqBox {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #d8d6d6; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 5px 0 rgb(0 2 25 / 30%);
  }
  
.faqCard .faqBox:hover {
    transform: translateY(-50px);
}
  
.faqCard .faqBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(51, 86, 166, 0.05);
}
  
.faqCard .faqBox .faqContentCard {
    padding: 20px;
    text-align: center;
}
  
/* .faqCard .faqBox .faqContentCard h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.1);
} */
  
.faqCard .faqBox .faqContentCard h3 {
    font-size: 1.2rem;
    color: #593E3E;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: bold;
}
  
.faqCard .faqBox .faqContentCard p {
    font-size: 1rem;
    font-weight: 300;
    color: black;
    z-index: 1;
    transition: 0.5s;
}

.faqCard .faqBox .faqContentCard a{
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .faqGridCard{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .faqCard{
        margin: 0;
    }

    .practicalDoc{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 551px) and (max-width: 1050px) {
    .faqGridCard{
        grid-template-columns: repeat(2, 1fr);
    }
    .practicalDoc{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1051px) and (max-width: 1650px) {
    .faqGridCard{
        grid-template-columns: repeat(3, 1fr);
    }
}