.categorieGallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 30px;
}

.categorieGallery .imgGallery{
    width: auto;
    height: 260px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.categorieGallery .nameGallery{
    font-weight: bold;
    color: #4574e2;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fieldGallery{
    border: 2px solid #3356a6;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}