.gridContent{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-gap: 30px;
}

.listSell{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(3, 1fr);
}

.shop p{
    text-align: center;
}

.shop h3{
    color: #3356A6;
    font-weight: bold;
    font-size: 1.2rem;
}

.item{
    display: grid;
    grid-template-columns: 0.5fr 1.2fr 0.3fr;
    height: 100px;
}

.listSell .item{
    border: 2px solid #3356a6;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #4f7ce4;
    margin: 0 0 0 0;
    height: 100px;
}

.itemDescription{
    height: 100px;
    line-height: 15px;
}

.item img{
    width: 90px;
    height: 90px;
    margin: 5px;
}

.itemTitle{
    font-size: 16px;
    font-weight: bold;
    color: #3356a6;
}

.itemDescription p {
    margin-top: -15px;
    font-size: 14px;
    padding: 2px;
    text-align: left;
}

.itemPrice{
    border-left: 1px solid black;
    font-weight: bold;
}

.priceItem{
    text-align-last: center;
}

.ceInformation h3{
    color: #3356A6;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}

.ceGridCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.ceCard {
    position: relative;
    min-width: 320px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.logoMemo{
    width: 90px;
}

.ceCard .ceBox {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #d8d6d6; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 5px 0 rgb(0 2 25 / 30%);
  }
  
.ceCard .ceBox:hover {
    transform: translateY(-50px);
}
  
.ceCard .ceBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(51, 86, 166, 0.05);
}
  
.ceCard .ceBox .ceContentCard {
    padding: 20px;
    text-align: center;
}
  
/* .ceCard .ceBox .ceContentCard h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.1);
} */
  
.ceCard .ceBox .ceContentCard h3 {
    font-size: 1.2rem;
    color: #593E3E;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: bold;
}
  
.ceCard .ceBox .ceContentCard p {
    font-size: 1rem;
    font-weight: 300;
    color: black;
    z-index: 1;
    transition: 0.5s;
}

.ceCard .ceBox .ceContentCard a{
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .gridContent{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .listSell{
        grid-template-columns: repeat(1, 1fr);
    }

    .item img{
        width: 50px;
        height: 50px;
        margin: 10px;
        align-self: center;
    }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .gridContent{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .listSell{
        grid-template-columns: repeat(2, 1fr);
    }

    .item img{
        width: 60px;
        height: 60px;
        margin: 10px;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 1350px) {
    .gridContent{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .listSell{
        grid-template-columns: repeat(2, 1fr);
    }

    .item img{
        width: 80px;
        height: 80px;
        margin: 10px;
        align-self: center;
        justify-self: center;
    }
}