.content{
    min-height: calc(100vh - 425px);
    margin-left: 10%;
    margin-right: 10%;
}

.contactTitle{
    color: #1c9447;
    text-align: center;
    margin-top: 20px;
}

.contactUser{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.line{
    border-right: 2px solid #3356a6;
}

.contactUser h2{
    font-size: 20px;
    color: #3356a6;
    font-weight: bold;
}

.poste{
    font-weight: bold;
    font-style: italic;
}

.descPoste{
    font-style: italic;
    margin-top: -20px;
}

.userContact{
    font-weight: bold;
}

.infoUserContact{
    font-style: italic;
    margin-top: -20px;
}

.formContact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    margin-bottom: 50px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #3356a6;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #1c9447;
}

  

